@charset "UTF-8";

:root {

    --laranja: #f25c05;
    --azul-escuro: #263f73;
    --azul-claro: #43aed9;
}

body, html {
    height: 100vh;
    margin: 0px;
    padding: 0px;
    width: 100vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: var(--azul-escuro);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;

}

header div#logo img {
    background-color: #fff;
    border-radius: 5px;
    width: 150px;
    margin-left: 10px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100vw;
   
}

div.links{
    border: 2px solid var(--azul-escuro);
    padding: 15px;
    border-radius: 50%;
    width: 70px;
    background-color: white;
}

nav div.links:hover {
    box-shadow: 0px 0px 5px var(--azul-escuro);
}

.titulos-links {
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
}
.titulos-links a {
    font-size: 1em;
    text-decoration: none;
    color: white;
}

main {
     
    background-color: rgba(100, 99, 99, 0.919);
    background-size: cover;
    background-position: right center;
    background-attachment: fixed;
    background-image: url(https://static.ndmais.com.br/2021/09/imagem-destaque-sou-bem-floripa.jpg);
}

section {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px #0000006c;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    
    min-width: 263px;
    max-width: 900px;
    
}

#h1-principal {
    font-size: 2em;
}

h1 {
    text-align: center;
    color: var(--laranja);
}
h2 {
    font-size: 1.3em;
    width: 600px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 20px;
}

.imgs {
    text-align: center;
}
.imgs-conteudo {
    width: 600px;
}
.paragrafos-conteudo {
    text-align: justify;
    padding-top: 10px;
    padding-bottom: 30px;
    margin: auto;
    width: 600px;
    line-height: 1.5;
}

#box-dicionario {
    margin: 40px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px dashed var(--azul-claro);
    border-radius: 15px;
}

#box-dicionario h2 {
    padding-left: 0px;
}

#box-dicionario p {
    text-align: justify;
}

ul li {
    list-style-type: none;
    line-height: 1.7em;
}
ul {
    padding: 0px;
}

#ul-comidas {
    width: 600px;
    text-align: justify;
    margin: auto;
}

#ul-comidas li {
    margin-top: 10px;
}

li a {
    font-weight: bold;
}

#inicio-link {
    margin-top: 20px;
    text-align: right;
}

#inicio-link a {
    color: var(--laranja);
    text-decoration: none;
    font-weight: bold;
}
#inicio-link a:hover {
    text-decoration: underline;
}

footer {
    padding: 5px;
    background-color: var(--azul-escuro);
   
}
footer p {
    text-align: center;
}

@media screen and (max-width:763px) {

    .imgs-conteudo {
        width: 400px;
    }

    .paragrafos-conteudo {
        padding-left: 20px;
        padding-right: 20px;
        width: 400px;
    }

    h2 {
        width: 400px;
    }

    #ul-comidas {
        width: 400px;
    }

    section {
        margin-bottom: 0px;
    }
    #box-dicionario {
        margin: 5px;
    }

}
